{% include header.html %}
{% include navbar.html %}
<div id="main">
    <h2>基本信息</h2>
    名称：{{device["name"]}}<br/>
    位置：{{device["position"]}}<br/>
    类型：{{device["type"]}}<br/>
    设备id：{{device["uniqid"]}}<br/>
    设备类型：{{device["type"]}}<br/>
    生产厂商：{{device["vender"]}}<br/>
    软件版本：{{device["hwversion"]}}<br/>
    硬件版本：{{device["swversion"]}}
    <h2>控制选项</h2>
    <div class="control">
        <div class="item power">
            <span class="label">电源：</span><button class="ui-button ui-state-active ui-corner-all ui-button-text-only" type="button" state="off" device="{{ device['id'] }}">打开</button>
        </div>

        <div class="item brightness">
            <span class="label">亮度：</span><div class="slider"></div><span class="value"></span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var brightness = $(".brightness .value");
        var slider = $(".brightness .slider").slider({
            max: 100,
            min: 0,
            step: 1,
            slide: function(event, ui) {
                brightness.text(ui.value);
            },
            change: function(event, ui) {
                var rpc = new $.JsonRpcClient({ ajaxUrl: '/jsonrpc/v1.0/control/' + {{device['id']}}, timeout: 10000 });
                $(".brightness .slider").slider("disable");
                rpc.call(
                    'set_brightness', ui.value,
                    function(result) {
                        $(".brightness .slider").slider("enable");
                    },
                    function(error) {
                        $(".brightness .slider").slider("enable");
                    }
                );
            }
        });
        brightness.text(slider.slider("value"));

        $(".power button").click(function(){
            var rpc = new $.JsonRpcClient({ ajaxUrl: '/jsonrpc/v1.0/control/' + {{device['id']}}, timeout: 10000 });
            state = $(this).attr("state");
            did = $(this).attr("device");
            $(".power button").attr("disabled", true).removeClass("ui-state-active").addClass("ui-state-disabled");

            if(state == "off") {
                rpc.call(
                    'power_on', null,
                    function(result) {
                        $(".power button").attr("state", "on").text("关闭");
                        $(".power button").attr("disabled", false).removeClass("ui-state-disabled").addClass("ui-state-active");
                    },
                    function(error) {
                        $(".power button").attr("disabled", false).removeClass("ui-state-disabled").addClass("ui-state-active");
                    }
                );
            } else if (state == "on") {
                rpc.call(
                    'power_off', null,
                    function(result) {
                        $(".power button").attr("state", "off").text("打开");
                        $(".power button").attr("disabled", false).removeClass("ui-state-disabled").addClass("ui-state-active");
                    },
                    function(error) {
                        $(".power button").attr("disabled", false).removeClass("ui-state-disabled").addClass("ui-state-active");
                    }
                );
            }
        });
});
</script>
{% include footer.html %}
